div#navigation {
  float: left;
  width: 15%;
  padding-top:27px;
}

div#perfil-contenido{
  float: left;
  width: 85%;
  padding-left: 50px;
  padding-right: 50px;
}

.table-bordered > tbody > tr > td{
  padding: 15px;
}