#gal1 img{
	border:2px solid white;
	height:90px;
}

#gal1-principal img{
	border:2px solid white;
	height:300px;
	max-width: 550px;
}

.active img{border:2px solid #333 !important;}

div#lado-izq{
	float: left;
	width: 50%;
	height: 400px;
	/*
	border-style: solid;
	border-width: 1px;
	*/	
}

div#lado-der{
	float: left;
	width: 50%;
	height: 400px;
	text-align: center;
	/*
	border-style: solid;
	border-width: 1px;
	*/
}


div#preg-rta{
	margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width: 80%;
}

div#preguntar{
	margin-left: 10%-10px;
}

div#preguntas{
	margin-left: 10%;	
}

#preguntar-txt{
	width: 70%;
}

.preguntas-table{
	width: calc(70% + 170px);
}

.respuesta{
	margin-left: 30px;
}

#preguntar-btn{
	margin-bottom: 40px;
}

.container{
	vertical-align:top;
	position: relative;
    bottom: 0;
	/*
	border-style: solid;
	border-width: 1px;
	*/
}

.modal-dialog{
	text-align: left;
}

#legend-ofertar{
}

#ofertar-btn{
	margin-bottom: 50px;
}